td.first-column {
	font-weight: bold;
}

td.selected {
	font-weight: bolder;
}

#sidebar {
	padding: 0px;
	margin: 0px;
}
li {
	padding: 5px;
	list-style-type: none;
}
li a {
	color: #000000;
	/* border-bottom: 2px solid #ff751a; */
	padding-bottom: 3px;
}
ul {
	margin-left: 0px;
	padding-left: 0px;
}
.selected {
	border-bottom: 3px solid lightcoral;
}
nav ul li a:hover {
	color: #000000;
	text-decoration: none;
	border-bottom: 3px solid coral;
}
a {
	color:black;
}
td a:hover {
	text-decoration: none;
}
table tr{
   height: 125px;
}
td a i {
	color: black;
}
article {
	margin-top: 60px;
	margin-bottom: 60px;
}
body {
	background-image: linear-gradient(#ff7400, #ffce00);
}


/* Fonts and Font Color/Highlight */

p {
	color: #5e2c04;
}

.name-heading {
	font-size: 100px;
	font-family: "Nabla", system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "EDPT" 100,
	  "EHLT" 12;
}
  
.main-page-titles {
	font-family: "Abel", sans-serif;
	font-weight: 400;
	font-style: normal;
	color:#ff7400;
	background-image: linear-gradient(#ffce49, #ffce00);
	border-radius: 2vh;
	padding: 2vh;
	text-shadow: #000000;
  }
  .main-page-section {
	padding: 2%;
  }