:root {
	--karelorange: #fc7c04;
	--karelyellow: #ffce00;
	--karelbrown: #65350F;
}

td.first-column {
	font-weight: bold;
}

td.selected {
	font-weight: bolder;
}

#sidebar {
	padding: 0px;
	margin: 0px;
}
li {
	/* padding: 5px; */
	list-style-type: none;
}
li a {
	color: #fffabf;
	border-bottom: 2px solid #ff751a;
	padding-bottom: 3px;
}
ul {
	margin-left: 0px;
	padding-left: 0px;
}
.selected {
	border-bottom: 3px solid var(--orange);
}
nav ul li a:hover {
	color: #fc7c04;
	text-decoration: none;
	border-bottom: 3px solid #fc7c04;
}
a {
	color:black;
}
td a:hover {
	text-decoration: none;
}
td a i {
	color: black;
}
article {
	margin-top: 20px;
	margin-bottom: 20px;
}
body {
	background-image: linear-gradient(#ff7400, #ffce00);
}


/* Fonts and Font Color/Highlight */

p {
	color: #5e2c04;
}

.name-heading {
	font-size: 10vh;
	font-family: "Nabla", system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "EDPT" 100,
	  "EHLT" 12;
	  background-color: #65350F;
	  border-radius: 2vh;
	  padding: 2vh;
}
  
.main-page-titles {
	font-family: "Nabla", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #65350F;
	border-radius: 2vh;
	padding: 2vh;
  }

  .main-page-section {
	padding: 2%;
  }