td.first-column {
	font-weight: bold;
}

td.selected {
	font-weight: bolder;
}

#sidebar {
	padding: 0px;
	margin: 0px;
}
li {
	padding: 5px;
	list-style-type: none;
}
li a {
	color: #000000;
	/* border-bottom: 2px solid #ff751a; */
	padding-bottom: 3px;
}
ul {
	margin-left: 0px;
	padding-left: 0px;
}
.selected {
	border-bottom: 3px solid lightcoral;
}
nav ul li a:hover {
	color: #000000;
	text-decoration: none;
	border-bottom: 3px solid coral;
}
a {
	color:black;
}
td a:hover {
	text-decoration: none;
}
table tr{
   height: 125px;
}
td a i {
	color: black;
}
article {
	margin-top: 60px;
	margin-bottom: 60px;
}
body {
	background-image: linear-gradient(seagreen, lightseagreen);
	/* background-color: seagreen; */
}
